
* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'cairo' ;
 
}
body {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .imagesItem {

    width: 100px;

  }
 
}

.logoItemImage {
  width: 50px;
  height: 50px;
}

.logoItemDesc {
  display: inline;
  color: #ab9745
}

.searchBtn {
  background-color: #483b08;
  border: none;
  transition: .5s all ease;
  
}
.searchBtn:hover {
  background-color: #877630;
}

.me-2.form-control {
  background-color: black;
  outline: none !important;
  border: 0;
  color: rgb(237, 237, 237);
}
.headerTitle{
  color: #6e5a0b;
  font-weight: 900px;
  font-size: 30px;
}
.headerLine {
  display: block;
  margin: 10px auto;
  border: 5px solid #292929df;
  width: 17%;
  min-width: 180px;
  border-radius: 50%;
  
}

.categoryBtn {

  color: rgb(45, 45, 45);
  border: 1px solid #3b3a3a;
  min-width: 90px !important;
  width: auto !important;
  padding:2px 15px !important;
  font-size: 20px;
  padding: 0;
  transition: all 0.5s ease !important;
}

.categoryBtn:hover {
  background-color: #3b3a3a;
  color: #fff;
}
.cardItems {
  border-radius: 10px ;
  color: #e6e6e6;
  width: 99vw;
  height: 200px;
  padding: 10px;
}

.d-flex.cardItems {
  background-color: rgb(255, 255, 255);
  color: #3b3a3a;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.318);
}

.d-flex.justify-content-around{
  flex-direction: column;
  width: 80%;
}

.imagesItem {
  border-radius: 10px;
  margin-right: 35px;
  width: 220px;
  /* max-width: 45% ; */

  border:  2px solid rgb(255, 255, 255);
  transition: all .5s ease;
}


.imagesItem:hover {
  transform: scale(1.05);
}

.cardBtn{
  width: 20%;
  min-width: 100px;
  right: 0;
  background-color: #483b08;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 40px;
  border: 1px solid #484848 !important;

  transition: all 0.5s ease;
}
.cardBtn:hover {

  background-color: #ededed;
  color: rgb(23, 23, 23);
  /* border: 3px solid #483b08 !important; */
}

.title-price {
  display: flex;
  justify-content: space-between;
}